## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [13]:
from datetime import datetime

print(datetime.utcnow())

2022-08-09 22:49:48.611001

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [15]:
import math
def area(radius):
    return math.pi*radius**2
print(area(5))

78.53981633974483

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [17]:
def is_unique(list):
    return len(list)==len(set(list))
print(is_unique(['a','b',123,'a']))
print(is_unique(['a','b',123]))

False
True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [2]:
file = open("./data/lil-wayne.txt", 'r', encoding='utf-8')

dict = {}
for c in file.read():
    c = c.upper()
    if c in dict:
        dict[c] += 1
    else:
        dict[c] = 1

file.close()

print(dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [4]:
print(sorted(dict.items(), key=lambda item: item[1])[-1])

(' ', 522)

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [39]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
# delete 4th item
x = list1[3]
del list1[3]

# multiply last by 4th item
list1[-1]*=x

# append number to end of list
list1.append(x)

print(list1)

[1, 1, 2, 5, 8, 13, 63, 3]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [46]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = [n for n in original_list if n%3==0]

print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [45]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

reversed_list = list(reversed(original_list))

print(reversed_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [47]:
original_list = [1, 2, 3, 4, 5, 6, 7]

squared_list = [n*n for n in original_list]

print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [48]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

size = len(list2)
for i in range(len(list1)):
    print(list1[i], list2[size-i-1])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [49]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

list_of_strings = [s for s in list_of_strings if s!=""]

print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [8]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

res = False

for key in sample_dict:
    if sample_dict[key] == 999:
        res = True

print(res)

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [9]:
import pandas as pd

df = pd.read_csv('./data/titanic.csv')

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [11]:
import math
ages = df['age']
new_ages = [age for age in ages if not math.isnan(age)]
# print(new_ages)
print(sum(new_ages)/len(new_ages))

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [12]:
oldest = max(ages)
youngest = min(ages)

print(oldest, youngest)

80.0 0.42

## How many people embarked from station 'S'?

In [15]:
stations = df['embarked']

count = 0
for station in stations:
    if station == 'S':
        count+=1

print(count)

644